[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
certifi = "==2018.4.16"
chardet = "==3.0.4"
dj-database-url = "==0.4.1"
django-cors-headers = "==2.1.0"
django-crispy-forms = "==1.6.1"
django-filter = "==1.0.1"
django-model-utils = "==2.6.1"
django-notifications-hq = "==1.2"
djangorestframework = "==3.5.3"
djangorestframework-filters = "==0.10.1"
djangorestframework-jsonapi = "==2.2.0"
djangorestframework-jwt = "==1.11.0"
gunicorn = "==19.6.0"
idna = "==2.6"
inflection = "==0.3.1"
jsonfield = "==2.0.1"
"psycopg2" = "==2.6.2"
pyjwt = "==1.5.3"
pytz = "==2016.10"
requests = "==2.18.4"
"urllib3" = "==1.22"
whitenoise = "==3.2.2"
Django = "==1.10.4"

[dev-packages]

[requires]
python_version = "3.5"
